.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 98px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }
    &__item {
        width: 247px;
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        line-height: 1.2;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
            margin-bottom: 25px;
        }
        a {
            color: $main_color;
            text-decoration: underline;
        }
    }
    &_animated {
        animation: heartbeat 1.5s ease infinite;
    }
}