.carousel {
    padding: 81px 0;
    &__inner {
        margin: 0 auto;
        width: 88%;
        img {
            width: 100%;
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin: 0 12px;
            button {
                display: block;
                width: 50px;
                height: 4px;
                padding: 0;
                border: none;
                border-radius: 3px;
                background-color: rgba($color: #000000, $alpha: 0.3);
                text-indent: -9999px;
            }
        }
    }
    li.slick-active button {
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
}